---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlwaysBreakAfterReturnType: All
BinPackParameters: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
ColumnLimit: 80
Cpp11BracedListStyle: false
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
SpacesInSquareBrackets: false
Standard: Cpp11
TabWidth: 2
UseTab: Never